<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeReviewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


<div>
<div class ='container'>
<%= link_to "Log Out", logout_path, method: :delete%>
<%= link_to "Add a Coffee", new_coffee_path %>
<%= link_to "All Coffees", coffees_path %>
<%= link_to "Add a Review", new_review_path%> 
<%= link_to "All Reviews", reviews_path%> 
<%= link_to "All Brands", brands_path %>
  </div>
   <div class ='container'>
    <p class="h1 display-12">Find Your Perfect Coffee Cup!</p>
    <div class ='container'>
</div>


  <body>
  
    <%= yield %>
  </body>
</html>
