<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeReviewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= link_to 'Logout', '/logout', method: :delete %>
  <%= link_to 'Add a new Coffee' , new_coffee_path%>
    <%= yield %>
  </body>
</html>
